<app-default-login-layout
    title="Faça seu cadastro!"
    primaryBtnText="Signup Now"
    secondaryBtnText="Login Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>
    <form [formGroup]="signupForm">
        <app-primary-input
            formControlName="name"
            inputName="name"
            type="text"
            label="Seu Nome"
            placeholder="Alex Santos"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="alex@gmail.com"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Sua Senha"
        >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
    <app-primary-input
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        label="Confirma sua Senha"
    >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
    </form>
</app-default-login-layout>
