<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <input type="hidden" name="id" />
    <mat-form-field>
      <mat-label>Macro</mat-label>
      <mat-select formControlName="macro">
        <mat-option value="one">Campo Grande</mat-option>
        <mat-option value="two">Corumbá</mat-option>
        <mat-option value="three">Dourados</mat-option>
        <mat-option value="four">Três Lagoas</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Município</mat-label>
      <mat-select formControlName="municipioId">
        <ng-container *ngIf="municipios$ | async as data; else loading">
          <mat-option
            *ngFor="let municipio of data"
            [value]="municipio.id"
          >
            {{ municipio.nome }}
          </mat-option>
        </ng-container>
        <ng-template #loading>Carregando...</ng-template>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de Ampola</mat-label>
      <mat-select formControlName="tipoAmpola">
        <mat-option value="one">Antibotrópico</mat-option>
        <mat-option value="two">Antielapédico</mat-option>
        <mat-option value="three">Antiloxoscélico</mat-option>
        <mat-option value="four">Antilbotrópico Crotálico</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Geladeira">Geladeira</mat-option>
        <mat-option value="two">Transferido</mat-option>
        <mat-option value="three">Recebido</mat-option>
        <mat-option value="four">Descartado</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Município Recebido</mat-label>
      <mat-select formControlName="municipioRecebidoId">
        <ng-container *ngIf="municipios$ | async as data; else loading">
          <mat-option
            *ngFor="let municipio of data"
            [value]="municipio.id"
          >
            {{ municipio.nome }}
          </mat-option>
        </ng-container>
        <ng-template #loading>Carregando...</ng-template>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Município Transferido</mat-label>
      <mat-select formControlName="municipioTransferidoId">
        <ng-container *ngIf="municipios$ | async as data; else loading">
          <mat-option
            *ngFor="let municipio of data"
            [value]="municipio.id"
          >
            {{ municipio.nome }}
          </mat-option>
        </ng-container>
        <ng-template #loading>Carregando...</ng-template>
      </mat-select>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-flat-button color="primary" [disabled]="!form.valid">Cadastrar</button>
    <button mat-flat-button color="warn" (click)="dialogRef.close()">Cancelar</button> <!-- Feche o diálogo ao clicar em Cancelar -->
  </div>
</form>
