@import "../../../styles/variables.scss";


.example-container {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  margin-bottom: 20px;
  width: 100%;

  mat-label {
    color: #333;
  }

  mat-select {
    width: 100%;
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  margin-left: 10px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 58px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $secondary-color;
  }

  &:disabled {
    background-color: $gray-bg;
    color: $text-color;
    cursor: not-allowed;
  }
}

mat-sidenav {
  width: 250px;
  background: #fff; /* Cor de fundo para o sidenav */
}

/* Estilo para o conteúdo do sidenav */
mat-sidenav-content {
  flex: 1;
  padding: 16px;
}

mat-nav-list {
  padding: 0;
}

mat-list-item {
  cursor: pointer;
  padding: 12px 16px;
}

mat-list-item:hover {
  background: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

mat-icon {
  margin-right: 8px;
}

/* Estilo para os botões dentro do conteúdo */
mat-sidenav-content button {
  margin: 16px 0;
}
